
IsothermLib/lib/libIsothermLib.so
Testes/FiveParameters/TesteFrenkelHalseyHill/TesteFrenkelHalseyHill
Testes/FiveParameters/TesteFritzSchlunderV/TesteFritzSchlunderV
Testes/FourParameters/TesteFritzSchlunderIV/TesteFritzSchlunderIV
Testes/OneParameter/TesteHenry/TesteHenry
Testes/ThreeParameters/TesteBrouersSotolongo/TesteBrouersSotolongo
Testes/ThreeParameters/TesteBrunauerEmmettTeller/TesteBrunauerEmmettTeller
Testes/ThreeParameters/TesteFowlerGuggenheim/TesteFowlerGuggenheim
Testes/ThreeParameters/TesteFritzSchlunder/TesteFritzSchlunder
Testes/ThreeParameters/TesteHenderson/TesteHenderson
Testes/ThreeParameters/TesteHill/TesteHill
Testes/ThreeParameters/TesteHillDeBoer/TesteHillDeboer
Testes/ThreeParameters/TesteHollKrich/TesteHollKrich
Testes/ThreeParameters/TesteJossens/TesteJossens
Testes/ThreeParameters/TesteKhan/TesteKhan
Testes/ThreeParameters/TesteKiselev/TesteKiselev
Testes/ThreeParameters/TesteKobleCorrigan/TesteKobleCorrigan
Testes/ThreeParameters/TesteLangmuirFreundlich/TesteLangmuirFreundlich
Testes/ThreeParameters/TesteMacMillanTeller/TesteMacMillanTeller
Testes/ThreeParameters/TesteRadkePrausnitsI/TesteRadkePrausnitsI
Testes/ThreeParameters/TesteRadkePrausnitsII/TesteRadkePrausnitsII
Testes/ThreeParameters/TesteRadkePrausnitsIII/TesteRadkePrausnitsIII
Testes/ThreeParameters/TesteRedlichPeterson/TesteRedlichPeterson
Testes/ThreeParameters/TesteSips/TesteSips
Testes/ThreeParameters/TesteToth/TesteToth
Testes/ThreeParameters/TesteUnilan/TesteUnilan
Testes/ThreeParameters/TesteValenzuelaMyers/TesteValenzuelaMyers
Testes/ThreeParameters/TesteViethSladek/TesteViethSladek
Testes/TwoParameters/TesteDubininRadushkevich/TesteDubininRadushkevich
Testes/TwoParameters/TesteElovich/TesteElovich
Testes/TwoParameters/TesteFreundlich/TesteFreundlich
Testes/TwoParameters/TesteHalsey/TesteHalsey
Testes/TwoParameters/TesteHarkinJura/TesteHarkinJura
Testes/TwoParameters/TesteJovanovic/TesteJovanovic
Testes/TwoParameters/TesteLangmuir/TesteLangmuir
Testes/TwoParameters/TesteTemkin/TesteTemkin
